extends layout
block content
    div.container
        include ./flash
        if(!finish)
            div.step(id="collect", style={ "display": "inline", "opacity": 1, "padding": "15px 40px 0" })
                p
                    if step < 3
                        h4 Enrolling new user step
                            |  #{step}
                            | of 3: Please type the text below
                    else
                        h4 Enrolling new user step 3/3: Please type one more text
                p
                    span.highlighted(id="pAH")
                    span(id="pA")
                br
                textarea.form-control(rows="1", cols="100", id="inputtextbox", name="inputtextbox", oncopy="return false", onpaste="return false", onkeyup="highlight('pAH','pA', this)", placeholder="Type the text loaded above")
                br
                form(method='POST', onsubmit='return verifyText(this)')
                    input(type="hidden" name="session_id", value=sid)
                    input(type="hidden" name="tp")
                    div
                        button.btn.btn-colors.btn-s.disabled(role="button", id="btn_next", type="submit")
                            b Next step
        else
            //Finish learn
            div.step(id="finish", style={ "display": "inline", "opacity": 1, "padding": "15px 40px 0" })
                p
                    h4 Registration finished! Try to authenticate.
                div.message
                    p
                        | You have
                        b  successfully registered.
                        |  Use the same email, in order to demo the typing biometrics authentication.
                div(style={"padding-top": "20px"})
                    a.btn.btn-colors.btn-s(onclick="restart();" role="button")
                        b Try Authentication
        //Loading
        div.step(id="step_loading")
            br
            p Loading...
        if(!finish)
            script.
                typingVisualizer = new TypingVisualizer();
                typingVisualizer.addTarget([ 'inputtextbox' ]);
                tdna = new TypingDNA(); /** creates an instance of the TypingDNA typing pattern recording class */
                var tp = ''; /** the typing pattern String variable to be recorded and to be sent to the server/API */
                var currentQuote = ''; /** the text to be typed at a each step, to be set independently */
                var nextFunction; /** a proxy for the next function in chain */

                /*****************************************************
                 * shows the first step of enrollment (1 of 3),
                 * self executed at start
                 *****************************************************/
                (function () {
                    currentTypeArea = document.getElementById('inputtextbox');
                    currentQuote = '!{currentQuote.replace(/'/g, "\\'")}';
                    highlight('pAH', 'pA');
                    currentTypeArea.focus();
                    nextFunction = verifyText;
                    /** sets the next function */
                })();

                /** checks if Enter is pressed on text forms and calls the next function */
                initControls();
