extends layout
block content
    div.container(style={"padding":"0"})
        include ./flash
        div.step(id="step_username", style={"display":"inline", "opacity": "1"})
            //Select user
            p
                h4 Enter an email to enroll or authenticate
            p If you're enrolling a new email/username, you will need it to test authentication afterwards.
            br
            form(method='post' onsubmit=' return validateUser()')
                div.input-group
                    span.input-group-addon Your email
                    input.form-control(type="text", id="username", name="username", placeholder="")
                div(style={"padding-top": "20px"})
                    button.btn.btn-colors.btn-s( role="button", id="btn_next", type="submit")
                        b Next
        //Loading
        div.step(id="step_loading")
            br
            p Loading...
    script.
        document.getElementById('username').focus();
        var username = getCookie('demousername'); /** a variable where to store the user name */
        if(username !== undefined && username !== "") {
            document.getElementById('username').value = username;
        }

        /*****************************************************
         * called after submitting a username; if username
         * is ok it redirects to the verify page
         *****************************************************/
        function validateUser() {
            var username = document.getElementById("username");
            if(username && username.value.length > 5) {
                swapContent('step_username', 'step_loading');
                setCookie('demousername',username.value);
                return true;
            } else {
                alert('Your username/id should be at least 6 characters in length');
                return false;
            }
        }
        /** checks if Enter is pressed on text forms and calls the next function */
